.page-header {
  font-size: 4rem;
  font-family: Roboto, "Helvetica Neue";
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.home-header {
  color: blue;
}

.notfound-header {
  color: red;
}

.home-return-link {
  font-size: 2rem;
  font-family: Roboto, "Helvetica Neue";
  text-align: center;
  margin-bottom: 1rem;
}

.back-button {
  max-width: 3rem;
}

.mission-name {
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color:cornflowerblue;
  font-family: Roboto, "Helvetica Neue";
}

.mission-date {
  font-size: 1rem;
  font-family: Roboto, "Helvetica Neue";
}
